<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="task">
            <h1 id="title">{{title}}</h1>

          <div class="input-group" >
              <input id="inputTask" #spy name="task" placeHolder="Add new task..." (keyup.enter)="addTask(taskText)" [(ngModel)]="taskText" class="form-control" required/>
                
              <span class="input-group-addon">
               <button (click)="addTask(taskText)"  class="btn btn-md  btn-primary" > <span  class="glyphicon glyphicon-plus" aria-hidden="true" alt="Add"></span></button>
                <button (click)="reset()" class="btn btn-md btn-primary">clear</button>
               
              </span>
          </div>
          
          <div *ngIf="errMsg">
                 <p id="errMessage"><strong>oh Sorry ! </strong>{{errMsg}}
                    <span id="errButton">
                         <button class="btn btn-default btn-xs" (click)="cleartext()" >Dismiss</button>
                         <button class="btn btn-info btn-xs" (click)="addAnyWay(taskText)" >Add anyway</button>
                    </span>
                 </p>
                 
          </div>
         
           
            <div *ngIf="ToDos">
               <h4  id="ttcTitle" >Task-to-do  <span class="badge "  style="background-color:rgb(51, 102, 153)">{{totalTaskToComplete}}</span></h4><hr />
                   <ul class="list-group">
                      
                       <li  *ngFor="let task of ToDos" class="list-group-item taskToComplete"> 
                           <span class="dateTime">{{task.created_at |date}} {{task.created_at| date:'shortTime'}}</span> 
                         
                          <span class="list-group-addon ctrlButtons " >
                              <!-- <button (click)="markAsComplete(task)" class="btn btn-xs btn-success">completed</button> -->
                              <button (click)="editTask(task)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                              <button (click)="deleteToDo(task)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                          </span><br />
                          {{task.name}}
                       </li>  
                   </ul>
            </div>  
            
           


           

            <!-- <div *ngIf="dTask">
              <h4 style="color:rgb(0, 153, 153)">Completed-task  <span class="badge"  style="background-color:rgb(0, 153, 153)">{{completedTask}}</span></h4><hr/>
              <ul class="list-group">
                <li  *ngFor="let task of dTask" class="list-group-item colmpletedTask"> 
                   <span class="dateTime">Completed on:{{task.timeStamp |date}} {{task.timeStamp| date:'jm'}}</span>
                 
                   <span class="list-group-addon" style="float:right">
                     <button (click)="deleteDTask(task)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                   </span><br />
                    {{task.name}}
                 
                </li>
              </ul>
            </div> -->
              
    </div>       

  </div>

</div>